.react-hierarchy-container {
    display: flex;
  
    .react-hierarchy-root{
      &-vertical {
        display: flex;
        margin-bottom: 2%;
        width: 100%;
      }
      &-horizontal {
        display: flex;
       width: 100%;
      }
    }
  
    .ngx-hierarchy-border {
      border: 1px solid darkgrey;
    }
  
  }